indexed_gzip>=1.6.1
dataset>=1.5.0
datasets==1.8.0
sqlalchemy>=1.4.20
langid>=1.1.6
fasttext>=0.9.2
transformers>=4.8.2
Faker>=8.10.1
streamlit>=0.82.0
indexed_gzip>=1.6.1
aiohttp
requests
modin[dask]
snorkel
fsspec
sentencepiece
nltk
spacy==2.1.0 
neuralcoref 
scikit-learn
