indexed_gzip>=1.6.1
dataset>=1.5.0
datasets==1.8.0
sqlalchemy>=1.4.20
langid>=1.1.6
fasttext>=0.9.2
transformers>=4.8.2
presidio_analyzer>=2.2.21
presidio_anonymizer>=2.2.21 
Faker>=8.10.1
streamlit>=0.82.0
indexed_gzip>=1.6.1
aiohttp
requests
modin[dask]
